# Binaries & build artifacts
bin/
dist/
build/

# Dependencies
vendor/
node_modules/

# Specifications (Maintained separately on GitHub Wiki)
specs/
wiki/

# OS and IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*~

# Local metadata
.ansible/
